__pycache__/
*.py[cod]
.env
.venv/
.env.local
.idea/
.pytest_cache/
artifacts/
logs/
.DS_Store

factor_correlation

tmp

factor_value_prepared/data
factor_value_prepared/factor_ric.csv

data/data_test.ipynb
data/factor_values
data/factor_cache
data/base_factors
data/factor_cache_new

alphatest/data
alphatest/alphatest
alphatest/analyze.ipynb
alphatest/fzq_backtrader_test.ipynb
alphatest/RankIC-EfficientCalculator.csv
alphatest/ts_ic_alpha101_1.csv

scripts

RankIC/factor_ric.csv
RankIC/factor_rolling_ric.csv

data/factor_values/llm_factors.csv
